singularity.enabled = true
process.container = "magnaid/genome-annotation-env:latest"

process {
    withName: SpectralTADAnalysis {
        container = "magnaid/genome-annotation-spectraltad-env:latest"
    }
    withName: RunRepeatOBserver {
        container = "magnaid/genome-annotation-repeatobserver-env:latest"
    }
    withName: EagleC {
        container = "magnaid/genome-annotation-eaglec-env:latest"
    }
}
